<%- include('../../components/header/header.ejs',{cssFile : 'user'}) %> 

<div class="container-fluid user_data">
    <br>
    <div class="modal fade" id="editCategory" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
              <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Edit Coupons</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <form onsubmit="editCategorySave(event)" id="form_" class="edit_form" method="post" enctype="multipart/form-data" autocomplete="off">
                      <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                              <div class="form-group">
                                  <input type="text" id="editname" name="editname" class="form-control" placeholder="Enter Coupon Name"  style="margin-bottom: 10px;" required>
                              </div>
                              <div class="form-group">
                                <label for="">Images</label>
                                <input class="form-control" onchange="uploadImages('edit')" style="margin-bottom: 10px;" type="file"  id="edit_category_images" name="images" accept="image/*">
                            </div>
                            <div id="editpreview" class="row preview_images">
                                
                            </div>
                              <div class="button">
                                  <button type="submit" id="edit_book_verify" class="btn btn-primary" style="width: 100%;margin-top: 20px;">Save</button>
                              </div>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
    <div class="add_button">
      <a href="#">Categories</a>
      <button onclick="window.parent.openPopup()">Add Category</button>
    </div>
    <table>
        <thead>
            <th>COVER PHOTO</th>
            <th>CATEGORY NAME</th>
            <th>OPTIONS</th>
            <th>SELECT IMP</th>
        </thead>
        <tbody id="data">

        </tbody>
      </table>
      <br>
      <div id="tableLoader">
        <p>Loading...</p>
      </div>
</div>

<!--Bootstrap js-->
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<!---->

<script>
    var editCategoryModal = new bootstrap.Modal(document.getElementById('editCategory'));

  function toggleImportant(id) {
    $.ajax({
            url : '/markedCategoryImportant',
            dataType: "json",
            type: "POST",
            data: {
                id:id
            },
            success: function(response){
                alert('Edited Successfullyt!!');
            },
            error: function(err){
                console.log(err);
                alert('Some error occured !!');
            }
        });
  }

  function editCategorySave(event) {
    event.preventDefault();
    var id = document.getElementsByClassName('edit_form')[0].getAttribute('id').split('_')[1];
    var name = document.getElementById('editname').value;

    $.ajax({
            url : `/editCategory`,
            dataType: "json",
            type: "POST",
            data: {
                name:name,
                id:id
            },
            success: function(response){
                alert('Edited Successfullyt!!');
                location.reload();
            },
            error: function(err){
                console.log(err);
                alert('Some error occured !!');
            }
        });
  }

  function deleteCategory(id) {
    if(confirm('Do you want to delete it?') == true){
      $.ajax({
            url : '/deleteCategory',
            dataType: "json",
            type: "POST",
            data: {
                id:id
            },
            success: function(response){
                alert('Deleted Successfullyt!!');
                location.reload();
            },
            error: function(err){
                console.log(err);
                alert('Some error occured !!');
            }
      });
    } 
  }

  function uploadImages(value) {
      if(value != 'edit'){
        var imageFiles = document.getElementById('course_images').files;
        //   console.log(imageFiles);
        var form = new FormData();
        //   document.getElementById('preview').innerHTML = '';

        for(var i=0;i<imageFiles.length;i++){
            if(imageFiles[i] != undefined){
                form.append(`book_images`, imageFiles[i]);
            }
        }

        $.ajax({
            url : "/saveBookImages",
            type: "POST",
            cache: false,
            contentType: false,
            processData: false,
            data : form,
            success: function(response){
                console.log(response.files);
                for(var i=0;i<response.files.length;i++) {
                    var path = response.files[i].path.slice(6,response.files[i].path.length);
                    $('#preview').append('<div class="col-6" id="gallery_image_'+ path +'"><div class="card" id="append_image_'+ path +'"><a class="delete_gallery_image" onclick="deleteCurrentGalleryImage(\''+ ( "gallery_image_"+ path )  +'\',\'gallery_image_path_'+ path +'\')"><span class="iconify" data-icon="akar-icons:cross"></span></a><img src="'+ path +'" id="preview_galler_image_'+ path +'" alt=""><input type="hidden" class="gallery_image_path" name="gallery_image_path" id="gallery_image_path_'+ path +'" value="'+ path +'"></div></div>');
                }
                document.getElementById('course_images').value='';
            },
            error: function(err){
                console.log(err.status);
            }
        });
      } else {
        var imageFiles = document.getElementById('edit_category_images').files;
        var id = document.getElementsByClassName('edit_form')[0].getAttribute('id').split('_')[1];
        //   console.log(imageFiles);
        var form = new FormData();
        for(var i=0;i<imageFiles.length;i++){
            if(imageFiles[i] != undefined){
                form.append(`book_images`, imageFiles[i]);
            }
        }

        $.ajax({
            url : `/saveEditBookImages/${id}`,
            type: "POST",
            cache: false,
            contentType: false,
            processData: false,
            data : form,
            success: function(response){
                    var path = response.files.slice(6,response.files.length);
                    $('#editpreview').append('<div class="col-6" id="edit_gallery_image_'+ path +'"><div class="card" id="append_image_'+ path +'"><a class="delete_gallery_image" onclick="deleteEditCurrentGalleryImage(\''+ ( "edit_gallery_image_"+ path )  +'\',\''+ path +'\')"><span class="iconify" data-icon="akar-icons:cross"></span></a><img src="'+ path +'" id="preview_galler_image_'+ path +'" alt=""></div></div>');
                // document.getElementById('edit_category_images').setAttribute('readonly',true);
                // document.getElementById('edit_category_images').removeAttribute('required');
                document.getElementById('edit_category_images').value='';
            },
            error: function(err){
                console.log(err.status);
            }
        });
      }
  }

  function deleteEditCurrentGalleryImage(id,path) {
    if(confirm('Do you want to delete it?') == true){
        console.log(path);
        if(path != '/images/extra/nopreview.jpeg') {
            $.ajax({
                url : `/deleteEditPhoto`,
                dataType: "json",
                type: "POST",
                data: {
                    path:path
                },
                success: function(response){
                    alert('Removed Successfully');
                    // document.getElementById('edit_category_images').removeAttribute('readonly');
                    // document.getElementById('edit_category_images').setAttribute('required',true);
                    document.getElementById(id).remove();
                },
                error: function(err){
                    console.log(err);
                    alert('Some error occured !!');
                }
            });
        }
    } 
}

  function editCategory(id,name,path) {
    document.getElementById('editpreview').innerHTML = '';
    document.getElementById('editname').value = name;
    $('#editpreview').append('<div class="col-6" id="edit_gallery_image_'+ path +'"><div class="card" id="append_image_'+ path +'"><a class="delete_gallery_image" onclick="deleteEditCurrentGalleryImage(\''+ ( "edit_gallery_image_"+ path )  +'\',\''+ path +'\')"><span class="iconify" data-icon="akar-icons:cross"></span></a><img src="'+ path +'" id="preview_galler_image_'+ path +'" alt=""></div></div>');
    document.getElementsByClassName('edit_form')[0].setAttribute('id',`form_${id}`);
    editCategoryModal.toggle();
  }

  function getCategories() {
    $.ajax({
            url : '/getCategories',
            dataType: "json",
            type: "GET",
            success: function(response){
                if(response.data.length != 0){
                  for(var i=0;i<response.data.length;i++){
                    $('#data').append('<tr> <td> <img src="'+ response.data[i].image +'" alt=""> </td> <td>'+ response.data[i].name +'</td> <td> <div class="options"> <a class="edit" onclick="editCategory(\''+response.data[i].id+'\',\''+response.data[i].name+'\',\''+response.data[i].image+'\')"><span class="iconify" data-icon="akar-icons:edit"></span></a> <a class="delete" onclick="deleteCategory('+response.data[i].id+')"><span class="iconify" data-icon="ant-design:delete-outlined"></span></a> </div> </td> <td> <div class="form-check form-switch">'+ (response.data[i].imp == 0 ? '<input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" onclick="toggleImportant('+response.data[i].id+')">' : '<input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" onclick="toggleImportant('+response.data[i].id+')" checked>') +' </div> </td> </tr>');
                  }
                } else {
                    // $('#data').append('<tr><td>No Categories present</td></tr>')
                }
                  document.getElementById('tableLoader').style.display = 'none';
            },
            error: function(err){
                console.log(err);
                alert('Some error occured !!');
            }
        });
  }
  
  window.onload = getCategories();

</script>

<%- include('../../components/footer/footer.ejs') %> 