<%- include('../../components/header/header.ejs',{cssFile : 'user'}) %> 

<div class="container-fluid user_data" onscroll="getMorePhotographers()">
    <br>
    <div class="add_button">
      <a href="#">Users</a>
      <div class="search_bar">
        <div class="search_input">
            <div class="icon">
              <a><span class="iconify" data-icon="akar-icons:search"></span></a>
            </div>
            <div class="input">
              <input type="text" name="" id="" onkeyup="searchUser(this.value)" placeholder="Search by name">
            </div>
          </div>
      </div>
      <!-- <button type="button" data-bs-toggle="modal" data-bs-target="#addBook">Add Blog</button> -->
    </div>
    <table>
        <thead>
            <th>NAME</th>
            <th>EMAIL</th>
            <th>OPTION</th>
        </thead>
        <tbody id="data">

        </tbody>
      </table>
      <br>
      <div id="tableLoader">
        <p>Loading...</p>
      </div>
</div>

<!--Bootstrap js-->
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<!---->

<script>

    var offset = 0;

  function searchUser(value) {
    // console.log(value);
      document.getElementById('data').innerHTML = '';
    if(value.length != 0) {
      $.ajax({
        url : `/users/getSearchUser/${value}`,
        dataType: "json",
        type: "GET",
        success: function(response){
          // console.log(response);
          if(response.data.length != 0){
                  for(var i=0;i<response.data.length;i++){
                    //   console.log(response.data[i].description);
                    $('#data').append('<tr> <td>'+ response.data[i].name +'</td><td><a href="mailto:'+ response.data[i].email +'">'+ response.data[i].email +'</a></td><td><a href="#" onclick="becomeAPhotographer('+ response.data[i].id +')">Become a photographer</a></td> </tr>');
                  }
                } else {
                    // $('#data').append('<tr><td>No Blogs present</td></tr>')
                }
        },
        error: function(err){
          console.log(err);
          alert('Some error occured !!');
        }
      });
    } else {
      getPhotographers(0);
    }
  }

  function deletePhotographger(id) {
    if(confirm('Do you want to delete it?') == true){
      $.ajax({
            url : '/deletePhotographger',
            dataType: "json",
            type: "POST",
            data: {
                id:id
            },
            success: function(response){
                alert('Deleted Successfully!!');
                location.reload();
            },
            error: function(err){
                console.log(err);
                alert('Some error occured !!');
            }
      });
    } 
  }

  function becomeAPhotographer(id) {
    if(confirm('Do you want to update it?') == true){
      $.ajax({
            url : '/becomeAPhotographer',
            dataType: "json",
            type: "POST",
            data: {
                id:id
            },
            success: function(response){
                alert('Updated Successfully!!');
                location.reload();
            },
            error: function(err){
                console.log(err);
                alert('Some error occured !!');
            }
      });
    } 
  }

  function getMorePhotographers() {
        offset = offset+30;
        // console.log(offset);
        getPhotographers(offset);
    }

  function getPhotographers(innerOffset) {
    $.ajax({
            url : `/getNotPhotographers/${innerOffset}`,
            dataType: "json",
            type: "GET",
            success: function(response){
                if(response.data.length != 0){
                  for(var i=0;i<response.data.length;i++){
                    //   console.log(response.data[i].description);
                    $('#data').append('<tr> <td>'+ response.data[i].name +'</td><td><a href="mailto:'+ response.data[i].email +'">'+ response.data[i].email +'</a></td><td><a href="#" onclick="becomeAPhotographer('+ response.data[i].id +')">Become a photographer</a></td> </tr>');
                  }
                } else {
                    // $('#data').append('<tr><td>No Blogs present</td></tr>')
                }
                  document.getElementById('tableLoader').style.display = 'none';
            },
            error: function(err){
                console.log(err);
                alert('Some error occured !!');
            }
        });
  }
  
  window.onload = getPhotographers(0);

</script>

<%- include('../../components/footer/footer.ejs') %> 